#queue-chart {
  width: 800px;
  height: 300px;
  border: 1px solid #000;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(40, 20px);
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.queue-bar {
  background-color: #108d42;
  transition: transform 0.5s ease-in-out;
  border: 1px solid #000; 
}
